@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Kanit', sans-serif;
}

.form-inline {
  display: flex; 
}

.header-image {
  width: 100px;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  max-width: 266px;
  border: 1px solid black;
  margin: 20px;
  min-height: 385px;
}

#button-container {
  display: flex;
  justify-content: center;
}

.language-btn {
  margin: 0 10px;
}

.card-text {
  flex-wrap: wrap;
  min-height: 240px;
  text-overflow: ellipsis;
}

.card-button-group {
  text-align: center;
}

.flexible {
  flex-grow: 1;
}
