@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Kanit', sans-serif;
}

.form-inline {
  display: flex; 
}

.main-logo {
  border: 1px solid black;
  padding: 25px;
}

.header-image {
  width: 100px;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  max-width: 266px;
  border: 1px solid black;
  margin: 20px;
  min-height: 385px;
}

#button-container {
  display: flex;
  justify-content: center;
}

.language-btn {
  margin: 0 10px;
}
.card-head {
  padding: 20px 0;
  height: 180px;
}

.card-title {
  height: 50px;
}

.card-text {
  flex-wrap: wrap;
  height: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-button-group {
  text-align: center;
  margin: 10px 0;
}

.card-entry-form {
  margin: 50px;
}

.language-form-input {
  margin: 20px 0;
}

.language-form-input > label {
  padding: 10px 0;
}

.flexible {
  flex-grow: 1;
}
