@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Kanit', sans-serif;
}

.form-inline {
  display: flex; 
}

.header-image {
  width: 100px;
}

#card-container {
  display: flex;
  justify-content: center;
}

.card {
  flex-wrap: flex;
}
